In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('HR_comma_sep.csv')

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
dep_dummies = pd.get_dummies(df['Department'])
salary_dummies = pd.get_dummies(df['salary'])

In [5]:
dep_dummies_1 = dep_dummies.drop('RandD', axis = 1)

In [6]:
salary_dummies_1 = salary_dummies.drop('medium', axis = 1)

In [7]:
semi_final_df = pd.concat([df,dep_dummies_1,salary_dummies_1], axis = 1)

In [8]:
semi_final_df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary,...,accounting,hr,management,marketing,product_mng,sales,support,technical,high,low
0,0.38,0.53,2,157,3,0,1,0,sales,low,...,0,0,0,0,0,1,0,0,0,1
1,0.80,0.86,5,262,6,0,1,0,sales,medium,...,0,0,0,0,0,1,0,0,0,0
2,0.11,0.88,7,272,4,0,1,0,sales,medium,...,0,0,0,0,0,1,0,0,0,0
3,0.72,0.87,5,223,5,0,1,0,sales,low,...,0,0,0,0,0,1,0,0,0,1
4,0.37,0.52,2,159,3,0,1,0,sales,low,...,0,0,0,0,0,1,0,0,0,1

In [9]:
target = semi_final_df['left']

In [10]:
final_df = semi_final_df.drop(['salary','Department'], axis = 1)

In [11]:
inputs = final_df.drop('left', axis = 1)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size = 0.20,random_state=20)

In [13]:
model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [14]:
model.score(X_test,y_test)

0.7996666666666666

In [15]:
import keras
from keras.layers import Dense,Flatten,Activation
from keras.models import Sequential

Using TensorFlow backend.

In [16]:
model1 = Sequential()
model1.add(Dense(128,kernel_initializer='he_uniform', activation='relu', input_shape=(18,)))
model1.add(Dense(256,kernel_initializer='he_uniform', activation='relu'))
model1.add(Dense(128,kernel_initializer='he_uniform', activation='relu'))
model1.add(Dense(2, activation='softmax'))

WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [17]:
model1.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 128)               2432
_________________________________________________________________
dense_2 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_3 (Dense)              (None, 128)               32896
_________________________________________________________________
dense_4 (Dense)              (None, 2)                 258
=================================================================
Total params: 68,610
Trainable params: 68,610
Non-trainable params: 0
_________________________________________________________________

In [18]:
model1.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3341: The name tf.log is deprecated. Please use tf.math.log instead.

In [19]:
model1.fit(X_train,y_train, batch_size=10, epochs=10)

WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\Nikhil\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Epoch 1/10
11999/11999 [==============================] - 3s 258us/step - loss: 3.8623 - acc: 0.7603
Epoch 2/10
11999/11999 [==============================] - 3s 210us/step - loss: 3.8525 - acc: 0.7610
Epoch 3/10
11999/11999 [==============================] - 2s 196us/step - loss: 3.8525 - acc: 0.7610
Epoch 4/10
11999/11999 [==============================] - 2s 196us/step - loss: 3.8525 - acc: 0.7610
Epoch 5/10
11999/11999 [==============================] - 3s 233us/step - loss: 3.8525 - acc: 0.7610
Epoch 6/10
11999/11999 [==============================] - 3s 230us/step - loss: 3.8525 - acc: 0.7610
Epoch 7/10
11999/11999 [==============================] - 2s 204us/step - loss: 3.8525 - acc: 0.7610
Epoch 8/10
11999/11999 [==============================] - 3s 223us/step - loss: 3.8525 - acc: 0.7610
Epoch 9/10
11999/11999 [==============================] - 3s 220us/step - loss: 3.8525 - acc: 0.7610
Epoch 10/10
11999/11999 [==============================] - 3s 214us/step - loss: 3.8525 - acc: 0.7610

In [20]:
from xgboost import XGBClassifier
model2 = XGBClassifier()
model2.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [21]:
model2.score(X_test,y_test)

0.974