In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set()
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('homeprices.csv')
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
inputs = df.drop('price', axis = 1)
target = df['area']

In [4]:
model = LinearRegression()
model.fit(inputs,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [5]:
model.coef_

array([1.])

In [6]:
model.intercept_

0.0

In [7]:
test_df = pd.read_csv('areas.csv')

In [9]:
test_df.head()

   area
0  1000
1  1500
2  2300
3  3540
4  4120

In [10]:
model.predict(test_df)

array([1000., 1500., 2300., 3540., 4120., 4560., 5490., 3460., 4750.,
       2300., 9000., 8600., 7100.])